<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.github.un }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/public/atom.xml" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/pygments.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/resume.css" />
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/public/apple-touch-icon.png" />

  <script type="text/javascript" src="{{ site.baseurl }}/public/js/application.js"></script>
</head>
