<div class="nav" id="nav">
  <div class="section left">
    <a href="/">
      <img src="{{ site.github.owner_gravatar_url }}?s=150" height="30" width="30" class="avatar" />
    </a>
    <ul>
      <li><a href="/">posts</a></li>
      <li><a href="/about">about</a></li>
    </ul>
  </div>

  <div class="section right">
    <ul>
      <li><a href="{{ site.github.owner_url }}" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="{{ site.stack_overflow }}" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
      <li><a href="{{ site.linked_in }}" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
      <li><a href="mailto:{{ site.email }}"<i class="fa fa-envelope-o"></i></a></li>
      <!-- <li><a href="/links" style="color: rgba(119, 119, 119, 0.1);">links</a></li> -->
    </ul>
  </div>
</div>
