<div id="title">
	<h1>
    {% unless site.git == "" %}
    <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>
    {% endunless %}

    {% unless site.stackoverflow == "" %}
    <a id="so-ic" href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
    {% endunless %}
		<a id="sitename" href="/">railsr.github.io</a>
	</h1>

	<!-- Add something about you in p tag-->
	<p>Hello, my name is Kirill. Currently learning Ruby on Rails.</p>
	<hr/>
  
	{% include nav-links.html %} 
  
</div>

<div class="ad">
<p></p>temp ad for adsense</p><br/>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- railsr_main_Blog1_300x250_as -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-9382277732061077"
     data-ad-slot="5198149745"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
